[Desktop Entry]
Name=Kylin Display Switch
Name[zh_CN]=麒麟显示切换
Comment=Kylin Display Switch
Comment[zh_CN]=麒麟显示切换
Exec=/usr/bin/kds
StartupNotify=false
Terminal=false
Type=Application
