[Desktop Entry]
Name=Kylin Display Swtich
Name[zh_CN]=麒麟显示切换
Comment=Kylin Display Swtich
Comment[zh_CN]=麒麟显示切换
Exec=/usr/bin/kds
StartupNotify=false
Terminal=false
Type=Application
