Source: kylin-display-switch
Section: utils
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: Aron Xu <aron@debian.org>,
           handsome_feng <jianfengli@ubuntukylin.com>,
           shine <huangsheng@kylinos.cn>,
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3,
               python3-setuptools,
               python3-distutils-extra,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ukui/kylin-display-switch
Vcs-Git: https://github.com/ukui/kylin-display-switch.git
Vcs-Browser: https://github.com/ukui/kylin-display-switch
X-Python3-Version: >= 3.6

Package: kylin-display-switch
Architecture: any
Depends: python3-pyqt5,
         gir1.2-glib-2.0,
         python3-xlib,
         python3-evdev,
         ${misc:Depends},
         ${python3:Depends}
Description: Gui tool for display switching
 Kylin Display Switch is a Gui tool managing display output.
 Super_L + P/F3/F7 are utilized to activate display switching.
 .
 It also monitors CapsLock and NumLock key, when these
 buttons are clicked, corresponding reminder will popper up.
